<html><body>

	<!-- this is one use of the template 
	attributes:
		inside the first div
			template: required to specify what template to use
			somevariable, ... : are user-defined variables
		inside the inner div: user-defined variables that are longer or comprise html
				 need to use <div name=[nameofvariable]>...</div>
	-->

	<div template='mytemplate' somevariable='howdy' someothervariable='world'>	
		<div name=somethirdvariable>
			a <b>block</b> of html
		</div>
	</div>

	<!-- this is another use of the template -->
	<div template='mytemplate' someothervariable='world'>
		<div name=somethirdvariable>
			a <b>block</b> of html
		</div>
	</div>

</body></html>


<!-- This is where the template gets defined - standard practice -->
<script type='text/template' id='mytemplate' somevariable='hello' someundefinedvariable='huh?'>
	<p>Here we can output <%=somevariable%> <%=someothervariable%> as well as <%=somethirdvariable%>. 
	We can also use variables that have not been defined such as '<%=someundefinedvariable%>'
</script>


<script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js'></script>
<script src='templatify.js'></script>

<script>

$(document).ready( function() {
	$("[template]").each( Templatify )

	// or you could put them all in a class
	// or render just one specific template $("[template='mytemplate']")
})

</script>
